#nav
	Label Navigation
		p
		a(href='/app') Avian Inventory
		|  - 
		a(href='/pairs/index.jade') Active Pairs
		|  - 
		a(href='/logs/index.jade') Nestbox List-Log
		|  - 
		a(href='/app/index/...query by location') In Nursery
		p
