#nav
	Label Navigation
		p 
		a(href='views/app/index') Avian Inventory
		p 
		a(href='views/pairs/....') Active Pairs
		p
		a(href='views/pairs/listLogs') Nestbox List-Log
		p
		a(href='views/app/index/...query by location') In Nursery
