div(id="nav")
	//-a(href='/users')	users
	//-a(href='/sessions') logged in
	a(href='/inventory') Avian Inventory
	a(href='/pairs') Active Pairs
	a(href='/logs') Nestbox List-Log
	a(href='/app/index/...query by location') In Nursery
