body{
	font-family: arial;
	background-color: #000;
}

#aviary{
	width:960px;
	margin:0px auto;
	background-color: #ccc;
	overflow: hidden;
}
header{
	height:100px;
	background-color:#ccc;
	border-style:solid;
	border-bottom-color:#000000;
	padding:10px;
}

.containerwrapper{
	display: inline-block;
}

nav{
	float:left;
	padding:10px;
	width:150px;
	min-height:400px;
	background-color:#ccc;
	font-size:14pt;
	border-style:solid;
	border-bottom-color:#fff;

}

.views{
	display:inline;
	float:right;
	background: #fff;
	padding:5px;
	margin-left:10px;
}