extends ../layout

block title
	title New Breeding Pair
block content
	h3 Add New Breeding Pair
	//- add required to required fields before release
	form(method='post' action='/pairs')
		p
			label Male-Band ID:
			input(type='text' name='maleBand' placeholder='Father ID')
		p
			label Female-Band ID:
			input(type='text' name='femaleBand' placeholder='Hen ID')
		p
			//-This field should autofill based on Band ID
			//-Check that male-female species are same else enter "Hybrid"
			Label Species: Green Cheek
			//-Label Species: #{pair.species}
		p
			//-Calculation based on Male&Female pedegree
			label Co-Efficient of Relations: ".15%"
			//-label Co-Efficient of Relations: #{pair.coefficient}
		p
			label Date Paired:
			input(type='date' name='paired')
		p
			label Location:
			input(type='text' name='location' placeholder='Cage#')
		p
			//-Possibly add a mutation calculator.  Ether auto-caluculates based on the BandIDs or plugin a 3rd party calculator.
			Label Notes:
			textarea(rows='5' cols='30' name='notes' placeholder=' (Noteable: Markings, Medical, Behavior, or other.')
		p		
			input(type='submit' value='Save')