extends ../layout

block title
	title New Breeding Pair
block content
	a(href='/pairs/') All Records
	br
	h3 Add New Breeding Pair
	//- add required to required fields before release
	
	form(method='post' action='/pairs')
		label Male-Band ID:
		input(type='text' name='maleBand' placeholder='Father ID')
		label Female-Band ID:
		input(type='text' name='femaleBand' placeholder='Hen ID')
		//-This field should autofill based on Band ID
		//-Check that male-female species are same else enter "Hybrid"
		Label Species: Green Cheek
		//-Label Species: #{pair.species}
		//-Calculation based on Male&Female pedegree
		label Co-Efficient of Relations: ".15%"
		//-label Co-Efficient of Relations: #{pair.coefficient}
		label Date Paired:
		input(type='date' name='paired')
		label Location:
		input(type='text' name='locate' placeholder='Cage#')
		//-Possibly add a mutation calculator.  Ether auto-caluculates based on the BandIDs or plugin a 3rd party calculator.
		Label Notes:
		textarea(rows='5' cols='30' name='notes' placeholder=' (Noteable: Markings, Medical, Behavior, or other.')
		input(type='submit' value='Save')