extends ../layout

block content
  h2 New Registration

  form(method='post' action='/users')
      label First Name: 
      input(type='text' name='firstName')
      label Last Name: 
      input(type='text' name='lastName')
      label * Email: 
      input(type='text' name='email')
      label * Username: 
      input(type='text' name='username')
      label * Password: 
      input(type='password' name='password')
      input(type='submit' value='Register')
  //-
    p
      label Aviary Name: 
      input(type='text' name='aviary')
    p
      label Band ID: 
      input(type='text' name='bandId')
    p
      label * Species in your Aviary: 
      input(type='text' name='species')
    p
      label Member of: 
      input(type='text' name='membership' value='ASA or AFA')
    
    p
      label * Confirm Password: 
      input(type='password' name='confirmpassword')
    